body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 0; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100vh;
  margin: auto;
}
.student-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-navigation {
  margin-top: 20px;
}

button {
  background-color: #5cb85c;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

button.prev-button {
  background-color: #d9534f;
}

button.next-button {
  background-color: #5bc0de;
}

button[type="submit"] {
  background-color: #5cb85c;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.tab-content {
  background-color: white;
  margin: 20px; /* Space around the tab content */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 400px; /* Minimum width for the form */
  max-width: 600px; /* Maximum width for the form */
  width: 100%; /* Responsive width */
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
select:focus,
input[type="number"]:focus {
  border-color: #5cb85c;
  outline: none;
}

h4 {
  color: #333;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.tab-content {
  border: 1px solid #ddd;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}